/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background:black;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overscroll-behavior-y: contain;
}

.font-creepster {
  visibility: hidden;
}

/* Once the 'font-loaded' class is added to the body, 
  we make the text with the 'font-creepster' class visible.
*/
.font-loaded .font-creepster {
  visibility: visible;
}